<!DOCTYPE html>
<html>
<head>
	<title>Conteúdo Programático</title>
</head>
<body>
<ul>
	<li> Estrutura e fisiologia celular: membrana, citoplasma e núcleo. </li>

<li> Divisão celular (mitose e meiose). </li>

<li> Aspectos bioquímicos das estruturas celulares. Aspectos gerais do metabolismo celular. </li>

<li> Metabolismo energético: fotossíntese e respiração. </li>

<li> Codificação da informação genética.</li>

<li>Aspectos éticos relacionados ao desenvolvimento biotecnológico. Biotecnologia e sustentabilidade. </li>
</ul>

</body>
</html>